// Define variables to override default ones

// $primary-color: #5f19dd;
// $primary-color: #4d1ed3;
// $primary-color: #4240d4;
// $error-color: #c02020;
// $font-size: 0.9rem;
// $font-size-sm: .8rem;
// $font-size-lg: 1rem;
// $light-color: #303742 !default;
// $dark-color: #fff !default;
$off-canvas-breakpoint: 840px;

// Import full Spectre source code

@import "../../node_modules/spectre.css/src/spectre";
@import "../../node_modules/spectre.css/src/spectre-icons";
@import "../../node_modules/spectre.css/src/spectre-exp";
// @import "../../node_modules/spectre.css/src/_variables";

:root {
    --primary-color: $primary-color;
    // gray
    --dark-color: $dark-color;
    --light-color: $light-color;
    // control
    --success-color: $success-color;
    --warning-color: $warning-color;
    --error-color: $error-color;
}

.icon-edit::before {
    border-width: 0.1rem;
    transform: translate(-45%, -65%) rotate(-45deg);
}
.sm-acts {
    top: -2px;
}
.form-select {
    -webkit-appearance: none;
}
.bg-light {
    color: $dark-color;
    background: $light-color;
}
.text-light {
    color: $light-color;
    // background: $dark-color;
}
.icon-home {
    &::before {
        border: $icon-border-width solid currentColor;
        border-bottom: 0;
        border-right: 0;
        transform: translate(-50%, -40%) rotate(45deg);
        width: 0.8em;
        height: 0.8em;
    }

    &::after {
        transform: translate(-50%, -50%);
        border-bottom: $icon-border-width solid currentColor;
        height: 1em;
        width: 0.8em;
    }
}

.icon-emojis {
    border: 0.1rem solid currentColor;
    border-radius: 50%;
    &::before {
        border-radius: 50%;
        box-shadow: -0.17em -0.1em, 0.17em -0.1em;
        height: 0.05em;
        width: 0.15em;
    }
    &::after {
        border: 0.045rem solid currentColor;
        transform: translate(-50%, 150%) rotate(0deg);
        width: 0.5em;
    }
}

.modal.modal-lg {
    .modal-overlay {
        background: rgba(247, 248, 249, 0.75);
    }
    .modal-container {
        max-height: 97vh;
        height: 100%;
    }
}
.dropdown-auto {
    .menu {
        min-width: auto;
    }
}
